@import './colors';
@import './fonts';

.btn {
    border: 1px solid $yellow;
    padding: 8px 20px;
    background-color: transparent;
    &.small {
        a {
            font-size: medium;
        }
    }
    a {
        color: white;
        text-decoration: none;
        font-family: $oswald;
        font-size: $text-large;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .arrow-container {
            width: 15px;
            max-width: 15px;
            margin-left: 15px;
        }
    }
}

.btn-container {
    &.center {
        display: flex;
        justify-content: center;
    }
}